@import '~bootstrap/scss/bootstrap';

table {
  width: 75%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%
}
td {
  width: 33.333%;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
table {
  border-collapse: collapse;
}
td {
  border: 6px solid #222;
}
td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}
td:nth-of-type(2) {
  border-top-color: transparent;
}
td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}
tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}
