@import '~bootstrap/scss/bootstrap';

table {
  margin: auto;
}

.square {
  cursor: pointer;
  font-size: 40pt;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}

#message-board {
  display: flex;
  font-size: 20pt;
  text-align: center;
}

// table {
//   border-collapse: collapse;
//   margin: auto;
//   margin-bottom: 10%;
//   margin-top: 10%;
//   width: 65%;
// }
//
// td {
//   border: 6px solid #222;
//   width: 33.333%;
//   text-align: center;
//   padding-top: 25px;
// }
//
// td:after {
//   content: '';
//   display: block;
//   margin-top: 30%;
// }
